- Autoregressive Integrated Moving Average Model
- Can be used with non-stationary data - does not have same mean and variance
- stationary data remain same over with with regard to mean and variance
- evolved form of lagged regression
- predictable sub-process

1. Autoregression
2. Integrated
3. Moving Average 

Autoregressive Models in Deep Learning â€” A Brief Survey
https://www.georgeho.org/deep-autoregressive-models/

## Implementing an ARIMA Model in Python

In this notebook, we'll use an arima model to make predict gdp levels in future years.

In [4]:
### Import libraries and load in data into a dataframe called 'df'.
### This dataset gives US GDP levels from 1947-2017. 
### In this assignment, our goal is to predict future levels (2018+)

import pandas as pd
import numpy as np

df = pd.read_csv('quarter.csv')
df.head()

         date  level-current  level-chained  change-current  change-chained
0  1947-04-01          246.3         1932.3             6.4            -0.4
1  1947-07-01          250.1         1930.3            17.3             6.4
2  1947-10-01          260.3         1960.7             9.3             6.0
3  1948-01-01          266.2         1989.5            10.5             6.7
4  1948-04-01          272.9         2021.9            10.0             2.3

In [5]:
## Part A (30 pts)

''' 
i) Convert the values in the 'date' column into datetime objects. Set the index of the dataframe to the 'date' column. 

ii) Delete all columns except for 'level-current', making sure the data is still in a DataFrame format instead of a series.

Both i-ii should be done in place to the 'df' dataframe.
'''

# your code here
df['date'] = pd.to_datetime(df.date)
df.drop(columns=['level-chained', 'change-current', 'change-chained'], inplace=True)
df.head()

        date  level-current
0 1947-04-01          246.3
1 1947-07-01          250.1
2 1947-10-01          260.3
3 1948-01-01          266.2
4 1948-04-01          272.9

In [13]:
## Part B (50 pts)

''' 
i) Import the 'statsmodels.api' library. We'll be using the SARIMA model from here. 
Refer to the documentation here: https://www.statsmodels.org/stable/generated/statsmodels.tsa.statespace.sarimax.SARIMAX.html

ii) Create a SARIMAX model on the dataframe with the following paramaters:
order=(0, 0, 1),=(1, 1, 1, 12), enforce_stationarity=False, enforce_invertibility=False.

iii) Fit the model on the data and store it in a variable called 'results'.
'''

# your code here
import statsmodels.api as sm

mod = sm.tsa.statespace.SARIMAX(endog = df, order=(0, 0, 1), enforce_stationarity=False, enforce_invertibility=False)
result = mod.res(disp=False)
print(res.summary())

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data). The types seen weredate             datetime64[ns]
level-current           float64
dtype: object and None. The data was
          date  level-current
0   1947-04-01          246.3
1   1947-07-01          250.1
2   1947-10-01          260.3
3   1948-01-01          266.2
4   1948-04-01          272.9
..         ...            ...
276 2016-04-01        18538.0
277 2016-07-01        18729.1
278 2016-10-01        18905.5
279 2017-01-01        19057.7
280 2017-04-01        19250.0

[281 rows x 2 columns]
and
 None
before. After,
[[Timestamp('1947-04-01 00:00:00') 246.3]
 [Timestamp('1947-07-01 00:00:00') 250.1]
 [Timestamp('1947-10-01 00:00:00') 260.3]
 [Timestamp('1948-01-01 00:00:00') 266.2]
 [Timestamp('1948-04-01 00:00:00') 272.9]
 [Timestamp('1948-07-01 00:00:00') 279.5]
 [Timestamp('1948-10-01 00:00:00') 280.7]
 [Timestamp('1949-01-01 00:00:00') 275.4]
 [Timestamp('1949-04-01 00:00:00') 271.7]
 [Timestamp('1949-07-01 00:00:00') 273.3]
 [Timestamp('1949-10-01 00:00:00') 271.0]
 [Timestamp('1950-01-01 00:00:00') 281.2]
 [Timestamp('1950-04-01 00:00:00') 290.7]
 [Timestamp('1950-07-01 00:00:00') 308.5]
 [Timestamp('1950-10-01 00:00:00') 320.3]
 [Timestamp('1951-01-01 00:00:00') 336.4]
 [Timestamp('1951-04-01 00:00:00') 344.5]
 [Timestamp('1951-07-01 00:00:00') 351.8]
 [Timestamp('1951-10-01 00:00:00') 356.6]
 [Timestamp('1952-01-01 00:00:00') 360.2]
 [Timestamp('1952-04-01 00:00:00') 361.4]
 [Timestamp('1952-07-01 00:00:00') 368.1]
 [Timestamp('1952-10-01 00:00:00') 381.2]
 [Timestamp('1953-01-01 00:00:00') 388.5]
 [Timestamp('1953-04-01 00:00:00') 392.3]
 [Timestamp('1953-07-01 00:00:00') 391.7]
 [Timestamp('1953-10-01 00:00:00') 386.5]
 [Timestamp('1954-01-01 00:00:00') 385.9]
 [Timestamp('1954-04-01 00:00:00') 386.7]
 [Timestamp('1954-07-01 00:00:00') 391.6]
 [Timestamp('1954-10-01 00:00:00') 400.3]
 [Timestamp('1955-01-01 00:00:00') 413.8]
 [Timestamp('1955-04-01 00:00:00') 422.2]
 [Timestamp('1955-07-01 00:00:00') 430.9]
 [Timestamp('1955-10-01 00:00:00') 437.8]
 [Timestamp('1956-01-01 00:00:00') 440.5]
 [Timestamp('1956-04-01 00:00:00') 446.8]
 [Timestamp('1956-07-01 00:00:00') 452.0]
 [Timestamp('1956-10-01 00:00:00') 461.3]
 [Timestamp('1957-01-01 00:00:00') 470.6]
 [Timestamp('1957-04-01 00:00:00') 472.8]
 [Timestamp('1957-07-01 00:00:00') 480.3]
 [Timestamp('1957-10-01 00:00:00') 475.7]
 [Timestamp('1958-01-01 00:00:00') 468.4]
 [Timestamp('1958-04-01 00:00:00') 472.8]
 [Timestamp('1958-07-01 00:00:00') 486.7]
 [Timestamp('1958-10-01 00:00:00') 500.4]
 [Timestamp('1959-01-01 00:00:00') 511.1]
 [Timestamp('1959-04-01 00:00:00') 524.2]
 [Timestamp('1959-07-01 00:00:00') 525.2]
 [Timestamp('1959-10-01 00:00:00') 529.3]
 [Timestamp('1960-01-01 00:00:00') 543.3]
 [Timestamp('1960-04-01 00:00:00') 542.7]
 [Timestamp('1960-07-01 00:00:00') 546.0]
 [Timestamp('1960-10-01 00:00:00') 541.1]
 [Timestamp('1961-01-01 00:00:00') 545.9]
 [Timestamp('1961-04-01 00:00:00') 557.4]
 [Timestamp('1961-07-01 00:00:00') 568.2]
 [Timestamp('1961-10-01 00:00:00') 581.6]
 [Timestamp('1962-01-01 00:00:00') 595.2]
 [Timestamp('1962-04-01 00:00:00') 602.6]
 [Timestamp('1962-07-01 00:00:00') 609.6]
 [Timestamp('1962-10-01 00:00:00') 613.1]
 [Timestamp('1963-01-01 00:00:00') 622.7]
 [Timestamp('1963-04-01 00:00:00') 631.8]
 [Timestamp('1963-07-01 00:00:00') 645.0]
 [Timestamp('1963-10-01 00:00:00') 654.8]
 [Timestamp('1964-01-01 00:00:00') 671.1]
 [Timestamp('1964-04-01 00:00:00') 680.8]
 [Timestamp('1964-07-01 00:00:00') 692.8]
 [Timestamp('1964-10-01 00:00:00') 698.4]
 [Timestamp('1965-01-01 00:00:00') 719.2]
 [Timestamp('1965-04-01 00:00:00') 732.4]
 [Timestamp('1965-07-01 00:00:00') 750.2]
 [Timestamp('1965-10-01 00:00:00') 773.1]
 [Timestamp('1966-01-01 00:00:00') 797.3]
 [Timestamp('1966-04-01 00:00:00') 807.2]
 [Timestamp('1966-07-01 00:00:00') 820.8]
 [Timestamp('1966-10-01 00:00:00') 834.9]
 [Timestamp('1967-01-01 00:00:00') 846.0]
 [Timestamp('1967-04-01 00:00:00') 851.1]
 [Timestamp('1967-07-01 00:00:00') 866.6]
 [Timestamp('1967-10-01 00:00:00') 883.2]
 [Timestamp('1968-01-01 00:00:00') 911.1]
 [Timestamp('1968-04-01 00:00:00') 936.3]
 [Timestamp('1968-07-01 00:00:00') 952.3]
 [Timestamp('1968-10-01 00:00:00') 970.1]
 [Timestamp('1969-01-01 00:00:00') 995.4]
 [Timestamp('1969-04-01 00:00:00') 1011.4]
 [Timestamp('1969-07-01 00:00:00') 1032.0]
 [Timestamp('1969-10-01 00:00:00') 1040.7]
 [Timestamp('1970-01-01 00:00:00') 1053.5]
 [Timestamp('1970-04-01 00:00:00') 1070.1]
 [Timestamp('1970-07-01 00:00:00') 1088.5]
 [Timestamp('1970-10-01 00:00:00') 1091.5]
 [Timestamp('1971-01-01 00:00:00') 1137.8]
 [Timestamp('1971-04-01 00:00:00') 1159.4]
 [Timestamp('1971-07-01 00:00:00') 1180.3]
 [Timestamp('1971-10-01 00:00:00') 1193.6]
 [Timestamp('1972-01-01 00:00:00') 1233.8]
 [Timestamp('1972-04-01 00:00:00') 1270.1]
 [Timestamp('1972-07-01 00:00:00') 1293.8]
 [Timestamp('1972-10-01 00:00:00') 1332.0]
 [Timestamp('1973-01-01 00:00:00') 1380.7]
 [Timestamp('1973-04-01 00:00:00') 1417.6]
 [Timestamp('1973-07-01 00:00:00') 1436.8]
 [Timestamp('1973-10-01 00:00:00') 1479.1]
 [Timestamp('1974-01-01 00:00:00') 1494.7]
 [Timestamp('1974-04-01 00:00:00') 1534.2]
 [Timestamp('1974-07-01 00:00:00') 1563.4]
 [Timestamp('1974-10-01 00:00:00') 1603.0]
 [Timestamp('1975-01-01 00:00:00') 1619.6]
 [Timestamp('1975-04-01 00:00:00') 1656.4]
 [Timestamp('1975-07-01 00:00:00') 1713.8]
 [Timestamp('1975-10-01 00:00:00') 1765.9]
 [Timestamp('1976-01-01 00:00:00') 1824.5]
 [Timestamp('1976-04-01 00:00:00') 1856.9]
 [Timestamp('1976-07-01 00:00:00') 1890.5]
 [Timestamp('1976-10-01 00:00:00') 1938.4]
 [Timestamp('1977-01-01 00:00:00') 1992.5]
 [Timestamp('1977-04-01 00:00:00') 2060.2]
 [Timestamp('1977-07-01 00:00:00') 2122.4]
 [Timestamp('1977-10-01 00:00:00') 2168.7]
 [Timestamp('1978-01-01 00:00:00') 2208.7]
 [Timestamp('1978-04-01 00:00:00') 2336.6]
 [Timestamp('1978-07-01 00:00:00') 2398.9]
 [Timestamp('1978-10-01 00:00:00') 2482.2]
 [Timestamp('1979-01-01 00:00:00') 2531.6]
 [Timestamp('1979-04-01 00:00:00') 2595.9]
 [Timestamp('1979-07-01 00:00:00') 2670.4]
 [Timestamp('1979-10-01 00:00:00') 2730.7]
 [Timestamp('1980-01-01 00:00:00') 2796.5]
 [Timestamp('1980-04-01 00:00:00') 2799.9]
 [Timestamp('1980-07-01 00:00:00') 2860.0]
 [Timestamp('1980-10-01 00:00:00') 2993.5]
 [Timestamp('1981-01-01 00:00:00') 3131.8]
 [Timestamp('1981-04-01 00:00:00') 3167.3]
 [Timestamp('1981-07-01 00:00:00') 3261.2]
 [Timestamp('1981-10-01 00:00:00') 3283.5]
 [Timestamp('1982-01-01 00:00:00') 3273.8]
 [Timestamp('1982-04-01 00:00:00') 3331.3]
 [Timestamp('1982-07-01 00:00:00') 3367.1]
 [Timestamp('1982-10-01 00:00:00') 3407.8]
 [Timestamp('1983-01-01 00:00:00') 3480.3]
 [Timestamp('1983-04-01 00:00:00') 3583.8]
 [Timestamp('1983-07-01 00:00:00') 3692.3]
 [Timestamp('1983-10-01 00:00:00') 3796.1]
 [Timestamp('1984-01-01 00:00:00') 3912.8]
 [Timestamp('1984-04-01 00:00:00') 4015.0]
 [Timestamp('1984-07-01 00:00:00') 4087.4]
 [Timestamp('1984-10-01 00:00:00') 4147.6]
 [Timestamp('1985-01-01 00:00:00') 4237.0]
 [Timestamp('1985-04-01 00:00:00') 4302.3]
 [Timestamp('1985-07-01 00:00:00') 4394.6]
 [Timestamp('1985-10-01 00:00:00') 4453.1]
 [Timestamp('1986-01-01 00:00:00') 4516.3]
 [Timestamp('1986-04-01 00:00:00') 4555.2]
 [Timestamp('1986-07-01 00:00:00') 4619.6]
 [Timestamp('1986-10-01 00:00:00') 4669.4]
 [Timestamp('1987-01-01 00:00:00') 4736.2]
 [Timestamp('1987-04-01 00:00:00') 4821.5]
 [Timestamp('1987-07-01 00:00:00') 4900.5]
 [Timestamp('1987-10-01 00:00:00') 5022.7]
 [Timestamp('1988-01-01 00:00:00') 5090.6]
 [Timestamp('1988-04-01 00:00:00') 5207.7]
 [Timestamp('1988-07-01 00:00:00') 5299.5]
 [Timestamp('1988-10-01 00:00:00') 5412.7]
 [Timestamp('1989-01-01 00:00:00') 5527.4]
 [Timestamp('1989-04-01 00:00:00') 5628.4]
 [Timestamp('1989-07-01 00:00:00') 5711.6]
 [Timestamp('1989-10-01 00:00:00') 5763.4]
 [Timestamp('1990-01-01 00:00:00') 5890.8]
 [Timestamp('1990-04-01 00:00:00') 5974.7]
 [Timestamp('1990-07-01 00:00:00') 6029.5]
 [Timestamp('1990-10-01 00:00:00') 6023.3]
 [Timestamp('1991-01-01 00:00:00') 6054.9]
 [Timestamp('1991-04-01 00:00:00') 6143.6]
 [Timestamp('1991-07-01 00:00:00') 6218.4]
 [Timestamp('1991-10-01 00:00:00') 6279.3]
 [Timestamp('1992-01-01 00:00:00') 6380.8]
 [Timestamp('1992-04-01 00:00:00') 6492.3]
 [Timestamp('1992-07-01 00:00:00') 6586.5]
 [Timestamp('1992-10-01 00:00:00') 6697.6]
 [Timestamp('1993-01-01 00:00:00') 6748.2]
 [Timestamp('1993-04-01 00:00:00') 6829.6]
 [Timestamp('1993-07-01 00:00:00') 6904.2]
 [Timestamp('1993-10-01 00:00:00') 7032.8]
 [Timestamp('1994-01-01 00:00:00') 7136.3]
 [Timestamp('1994-04-01 00:00:00') 7269.8]
 [Timestamp('1994-07-01 00:00:00') 7352.3]
 [Timestamp('1994-10-01 00:00:00') 7476.7]
 [Timestamp('1995-01-01 00:00:00') 7545.3]
 [Timestamp('1995-04-01 00:00:00') 7604.9]
 [Timestamp('1995-07-01 00:00:00') 7706.5]
 [Timestamp('1995-10-01 00:00:00') 7799.5]
 [Timestamp('1996-01-01 00:00:00') 7893.1]
 [Timestamp('1996-04-01 00:00:00') 8061.5]
 [Timestamp('1996-07-01 00:00:00') 8159.0]
 [Timestamp('1996-10-01 00:00:00') 8287.1]
 [Timestamp('1997-01-01 00:00:00') 8402.1]
 [Timestamp('1997-04-01 00:00:00') 8551.9]
 [Timestamp('1997-07-01 00:00:00') 8691.8]
 [Timestamp('1997-10-01 00:00:00') 8788.3]
 [Timestamp('1998-01-01 00:00:00') 8889.7]
 [Timestamp('1998-04-01 00:00:00') 8994.7]
 [Timestamp('1998-07-01 00:00:00') 9146.5]
 [Timestamp('1998-10-01 00:00:00') 9325.7]
 [Timestamp('1999-01-01 00:00:00') 9447.1]
 [Timestamp('1999-04-01 00:00:00') 9557.0]
 [Timestamp('1999-07-01 00:00:00') 9712.3]
 [Timestamp('1999-10-01 00:00:00') 9926.1]
 [Timestamp('2000-01-01 00:00:00') 10031.0]
 [Timestamp('2000-04-01 00:00:00') 10278.3]
 [Timestamp('2000-07-01 00:00:00') 10357.4]
 [Timestamp('2000-10-01 00:00:00') 10472.3]
 [Timestamp('2001-01-01 00:00:00') 10508.1]
 [Timestamp('2001-04-01 00:00:00') 10638.4]
 [Timestamp('2001-07-01 00:00:00') 10639.5]
 [Timestamp('2001-10-01 00:00:00') 10701.3]
 [Timestamp('2002-01-01 00:00:00') 10834.4]
 [Timestamp('2002-04-01 00:00:00') 10934.8]
 [Timestamp('2002-07-01 00:00:00') 11037.1]
 [Timestamp('2002-10-01 00:00:00') 11103.8]
 [Timestamp('2003-01-01 00:00:00') 11230.1]
 [Timestamp('2003-04-01 00:00:00') 11370.7]
 [Timestamp('2003-07-01 00:00:00') 11625.1]
 [Timestamp('2003-10-01 00:00:00') 11816.8]
 [Timestamp('2004-01-01 00:00:00') 11988.4]
 [Timestamp('2004-04-01 00:00:00') 12181.4]
 [Timestamp('2004-07-01 00:00:00') 12367.7]
 [Timestamp('2004-10-01 00:00:00') 12562.2]
 [Timestamp('2005-01-01 00:00:00') 12813.7]
 [Timestamp('2005-04-01 00:00:00') 12974.1]
 [Timestamp('2005-07-01 00:00:00') 13205.4]
 [Timestamp('2005-10-01 00:00:00') 13381.6]
 [Timestamp('2006-01-01 00:00:00') 13648.9]
 [Timestamp('2006-04-01 00:00:00') 13799.8]
 [Timestamp('2006-07-01 00:00:00') 13908.5]
 [Timestamp('2006-10-01 00:00:00') 14066.4]
 [Timestamp('2007-01-01 00:00:00') 14233.2]
 [Timestamp('2007-04-01 00:00:00') 14422.3]
 [Timestamp('2007-07-01 00:00:00') 14569.7]
 [Timestamp('2007-10-01 00:00:00') 14685.3]
 [Timestamp('2008-01-01 00:00:00') 14668.4]
 [Timestamp('2008-04-01 00:00:00') 14813.0]
 [Timestamp('2008-07-01 00:00:00') 14843.0]
 [Timestamp('2008-10-01 00:00:00') 14549.9]
 [Timestamp('2009-01-01 00:00:00') 14383.9]
 [Timestamp('2009-04-01 00:00:00') 14340.4]
 [Timestamp('2009-07-01 00:00:00') 14384.1]
 [Timestamp('2009-10-01 00:00:00') 14566.5]
 [Timestamp('2010-01-01 00:00:00') 14681.1]
 [Timestamp('2010-04-01 00:00:00') 14888.6]
 [Timestamp('2010-07-01 00:00:00') 15057.7]
 [Timestamp('2010-10-01 00:00:00') 15230.2]
 [Timestamp('2011-01-01 00:00:00') 15238.4]
 [Timestamp('2011-04-01 00:00:00') 15460.9]
 [Timestamp('2011-07-01 00:00:00') 15587.1]
 [Timestamp('2011-10-01 00:00:00') 15785.3]
 [Timestamp('2012-01-01 00:00:00') 15973.9]
 [Timestamp('2012-04-01 00:00:00') 16121.9]
 [Timestamp('2012-07-01 00:00:00') 16227.9]
 [Timestamp('2012-10-01 00:00:00') 16297.3]
 [Timestamp('2013-01-01 00:00:00') 16475.4]
 [Timestamp('2013-04-01 00:00:00') 16541.4]
 [Timestamp('2013-07-01 00:00:00') 16749.3]
 [Timestamp('2013-10-01 00:00:00') 16999.9]
 [Timestamp('2014-01-01 00:00:00') 17031.3]
 [Timestamp('2014-04-01 00:00:00') 17320.9]
 [Timestamp('2014-07-01 00:00:00') 17622.3]
 [Timestamp('2014-10-01 00:00:00') 17735.9]
 [Timestamp('2015-01-01 00:00:00') 17874.7]
 [Timestamp('2015-04-01 00:00:00') 18093.2]
 [Timestamp('2015-07-01 00:00:00') 18227.7]
 [Timestamp('2015-10-01 00:00:00') 18287.2]
 [Timestamp('2016-01-01 00:00:00') 18325.2]
 [Timestamp('2016-04-01 00:00:00') 18538.0]
 [Timestamp('2016-07-01 00:00:00') 18729.1]
 [Timestamp('2016-10-01 00:00:00') 18905.5]
 [Timestamp('2017-01-01 00:00:00') 19057.7]
 [Timestamp('2017-04-01 00:00:00') 19250.0]]
None.

In [ ]:
## Part C (20 pts)

''' 
i) Generate a 95% confidence interval for predictions starting on 1/1/2018. 
Store it in a tuple variable called 'pred_ci'.
'pred_ci' should be of the form (lower_bound, upper_bound) where lower_bound and upper_bound are decimals.
'''

# your code here